@import "../../common/styles/mixin";

.passRecContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .passRecContent {
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 413px;

    .title {
      margin: 0 0 35px 0;
      @include text(600, 26px, 32px);
    }

    .form {
      .input {
        width: 100%;
        margin-bottom: 20px;
      }
      .error {
        color: red;
        margin-bottom: 10px;
      }

      .desc {
        @include text(400, 14px, 24px);
        color: #000;
        opacity: 0.5;
        text-align: left;
      }

      .button {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        border-radius: 20px;
        margin: 65px 0 35px 0;
      }
    }

    .footer {
      display: flex;
      flex-direction: column;

      span {
        @include text(600, 14px, 24px);
        color: #000;
        opacity: 0.5;
      }

      a {
        @include text(600, 16px, 24px);
        color: #366EFF;
      }
    }
  }
}