@import "../../../styles/mixin";

.loginContainer {
  display: flex;
  justify-content: center;
  padding-top: 35px;

  .loginContent {
    border-radius: 2px;
    width: 90%;

    .form {
      display: flex;
      flex-direction: column;

      .picture {
        @include text(500, 16px, 20px);

        .imgContainer {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          .uploadImage {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

          }
          .img {
            width: 250px;
            margin: 0 auto;
          }
        }


      }

      .deleteQuestion {
        width: 100%;
        word-wrap: break-word;
      }

      .input {
        margin-bottom: 30px;
      }

      .error {
        color: red;
        margin-bottom: 10px;
      }

      .checkBoxCont {
        display: flex;
        align-items: center;

        .checkBox {
          width: 10px;
          height: 10px;
          margin-right: 10px;
        }

        span {
          @include text(500, 14px, 17px);
        }
      }

      .buttonBlock {
        padding-top: 40px;
        display: flex;

        justify-content: center;

        .button {
          font-family: 'Montserrat', sans-serif;
          width: 50%;
          border-radius: 20px;
        }
      }

    }
  }
}




