@import "../../../common/styles/mixin";

.loginContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .loginContent {
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 413px;
    position: relative;

    .title {
      margin: 0 0 35px 0;
      @include text(600, 26px, 32px);
    }

    .form {
      display: flex;
      flex-direction: column;

      .input {
        margin-bottom: 20px;
      }

      .error {
        color: red;
        margin-bottom: 10px;
      }

      .checkBoxCont {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        .checkBox {
          width: 10px;
          height: 10px;
          margin-right: 10px;
        }

        span {
          @include text(500, 14px, 17px);
        }
      }

      .fPass {
        @include text(500, 14px, 17px);
        position: absolute;
        right: 30px;
        bottom: 217px;
        text-decoration: none;
        color: #000;
      }

      .button {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        border-radius: 20px;
        margin: 75px 0 35px 0;
      }
    }

    .footer {
      display: flex;
      flex-direction: column;

      span {
        @include text(600, 14px, 24px);
        color: #000;
        opacity: 0.5;
      }

      a {
        @include text(600, 16px, 24px);
        color: #366EFF;
      }
    }
  }
}




