.select {
    width: 39px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

.select:focus {
    outline: none;
}

.option:hover {
    box-shadow: 0 0 10px 100px #FED20F inset;
    transition: all .2s ease-in-out;
    background: #cc0000;
}
